<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProcessName" value="Hearthstone"/>
		<add key="TcpPorts" value="3724" />
		<add key="Monitor" value="1"/>
		<add key="OffsetRight" value="20" />
		<add key="OffsetBottom" value="60" />
	</appSettings>
</configuration>